<h2>Information trouvé :</h2>

{{#if game}}
    <h3>Jeu :</h3>
    {{#each game}}
        <li>
            <a href="/Game/{{name}}">{{name}}</a>
        </li>
    {{/each}}
{{/if}}

{{#if editor}}
    <h3>Editeur :</h3>
    {{#each editor}}
        <li>
            <a href="/Editor/{{name}}">{{name}}</a>
        </li>
    {{/each}}
{{/if}}

{{#if category}}
    <h3>Catégorie :</h3>
    {{#each category}}
        <li>
            <a href="/Category/{{name}}">{{name}}</a>
        </li>
    {{/each}}
{{/if}}