<h2>{{game.name}}</h2>
<div id="presGame">
    <div>
        <p>{{game.description}}</p>
    </div>

{{#if game.nameOfImage}}
    <div id="image">
        <img src="../../uploads/{{game.nameOfImage}}" title="{{game.nameOfImage}}">
    </div>
{{/if}}
</div>

<p>Date de Sortie du jeu : {{game.publishDate}}</p>

<p>Catégorie :
    <a href="../Category/{{categoryOfGame.name}}">{{categoryOfGame.name}}</a>
</p>


<p>Editeur : 
    <a href="../Editor/{{editorOfGame.name}}">{{editorOfGame.name}}</a>
</p>


<li>
    <a href="../editGame/{{game.name}}">Modifier le jeu</a>
</li>
<li>
    <a href="../suppressGame/{{game.name}}">Supprimer le jeu</a>
</li>

<li>
{{#if inMainPage}}
    <a href="../setOff/{{game.name}}">Enlever le jeu de la une !</a>
{{else}}
    <a href="../setOn/{{game.name}}">Mettre le jeu à la une !</a>
{{/if}}
</li><br/>

    
<a href="./">Retour à la page des jeux</a><br/>
<a href="../">Retour à la page principale</a>